---
import MainLayout from 'src/layouts/MainLayout.astro';
import BlogPostCard from 'src/components/BlogPostCard.astro';
import SocialIcons from 'src/components/SocialIcons.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_CONTENT } from 'src/consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const styles = {
	highlightText: 'text-primary-500',
	paragraph: 'text-darkGrey-500 dark:text-lightGrey-300 mb-2'
}
---

<MainLayout
	title={ `${SITE_TITLE} | Home` }
	description={ SITE_DESCRIPTION }
>
	<div class="mt-10 mb-12">
		<h1 class="text-darkGrey-700 dark:text-white text-3xl md:text-4xl lg:text-5xl font-mono font-black mb-6">
			{ HOMEPAGE_CONTENT.title }
		</h1>
		{ HOMEPAGE_CONTENT.text.map(text => (
			<p class={ styles.paragraph }>
				{ text }
			</p>
		)) }
		<div class="mt-5">
			<SocialIcons />
		</div>
	</div>
	<h2 class="text-darkGrey-700 dark:text-white text-2xl font-mono font-black mb-4">
		Posts
	</h2>
	<ul class="grid grid-cols-1 xl:grid-cols-2 gap-5 mb-24">
		{
			posts.map((post) => (
				<li>
					<BlogPostCard
						title={ post.data.title }
						slug={ post.slug }
						date={ post.data.pubDate }
						tag={ post.data.category }
						description={ post.data.description }
					/>
				</li>
			))
		}
	</ul>
</MainLayout>
