<div id="app-container" class="col-12">
    <div id="left-side" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="container">
        <div id="about-text" class="col-12">
            <h5>Hello, I'm Samantha O'Gorman.</h5>
          <h1>
            <span class="highlight-text">Full-Stack Developer</span> <br>
            &amp; <span class="highlight-text">UI Designer</span>.
          </h1>
          <h5>Based in Bolton, Manchester <span class="emoji-con">🇬🇧</span></h5>
          <a href="mailto:sam@buoy.digital" class="btn btn-lit">Talk to me ⚡️</a>
        </div>
        <ul id="social-icons" class="col-12">
          <li data-balloon="Linked In" data-balloon-pos="down"><a href="https://www.linkedin.com/in/samantha-o-gorman-8b955284/"><i class="fab fa-linkedin-in"></i></a></li>
          <li data-balloon="Instagram" data-balloon-pos="down"><a href="https://www.instagram.com/sam.ogorm"><i class="fab fa-instagram"></i></a></li>
          <li data-balloon="Twitter" data-balloon-pos="down"><a href="https://www.twitter.com/samogorm"><i class="fab fa-twitter"></i></a></li>
          <li data-balloon="Code Pen" data-balloon-pos="down"><a href="https://codepen.io/SAM-O10/"><i class="fab fa-codepen"></i></a></li>
          <li data-balloon="Github" data-balloon-pos="down"><a href="https://github.com/samogorm"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <div id="right-side" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="container">
            <div id="intro" class="col-12">
                <h3>Intro</h3>
                <p>
                  I've been developing websites & apps for over 4.5 years. I have a passion for 
                  UI design & an insatiable thirst for learning new development technologies.
                  <br>
                  When I'm not slapping my keyboard, you'll find me bouldering or exploring
                  woodland areas.
                </p>
            </div>
            <div id="skills" class="col-12">
                <h3>Skills</h3>
                <ul id="skill-icons" class="row">
                  <li data-balloon="HTML" data-balloon-pos="up"><i class="fab fa-html5"></i></li>
                  <li data-balloon="CSS" data-balloon-pos="up"><i class="fab fa-css3"></i></li>
                  <li data-balloon="SASS" data-balloon-pos="up"><i class="fab fa-sass"></i></li>
                  <li data-balloon="JavaScript" data-balloon-pos="up"><i class="fab fa-js-square"></i></li>
                  <li data-balloon="NodeJS" data-balloon-pos="up"><i class="fab fa-node"></i></li>
                  <li data-balloon="React + React Native" data-balloon-pos="up"><i class="fab fa-react"></i></li>
                  <li data-balloon="Angular 2+" data-balloon-pos="up"><i class="fab fa-angular"></i></li>
                  <li data-balloon="PHP" data-balloon-pos="up"><i class="fab fa-php"></i></li>
                  <li data-balloon="Laravel" data-balloon-pos="up"><i class="fab fa-laravel"></i></li>
                </ul>
            </div>
            <div id="education" class="col-12">
              <h3>Education</h3>
              <h5>July 2016</h5>
              <h6 class="italic">University of Bolton</h6>
              <p>Bachelor of Science, Computing & Website Development - 2:1</p>
            </div>
            <div id="work" class="col-12">
                <h3>Work</h3>
                <div class="work">
                    <h5>Sept 2016 - Present</h5>
                    <h6 class="italic">Suresite</h6>
                    <p>Junior Application Developer</p>
                </div>
                <div class="work">
                    <h5>Nov 2015 - July 2016</h5>
                    <h6 class="italic">Tubado</h6>
                    <p>Full Stack Developer & Designer</p>
                </div>
            </div>
            <div id="github" class="col-12 text-center">
              <p>Hosted on GitHub Pages <i class="fas fa-heart"></i></p>
            </div>
        </div>
    </div>
</div>