#app-container {
    height: 100vh;
}

/*~~~~~~~~~~~~~~~~~~~
 * Left Side 
 * ~~~~~~~~~~~~~~~~~~*/

#left-side {
    position: fixed;
    width: 50%;
    height: 100vh;
    min-height: 600px;
    float: left;
    background: #007BFF;
    text-align: center;
}

/*~~~~ About Text~~~~*/
#about-text {
    margin-top: 15rem;
    position: relative;
    z-index: 999;
    text-align: center;
}

#left-side h5 {
    font-family: SFProText-Regular;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.42px;
}

#left-side h1 {
    font-family: SFProText-Bold;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0.67px;
    text-align: center;
    line-height: 60px;
}

.highlight-text {
    color: #333170;
}

.emoji-con {
    opacity: 1 !important;
}

.btn-lit {
    margin-top: 2rem;
    font-family: SFProText-Regular;
    color: #FFFFFF;
    letter-spacing: 0.37px;
    background: #333170;
    border-radius: 100px;
    padding: 15px 35px;
}

/*~~~~ Social Icons ~~~~*/
#social-icons {
    margin-top: 2rem;
}

#social-icons li {
    display: inline-flex;
    margin: 0 1rem;
}

#social-icons li a {
    font-size: 26px;
    color: #FFFFFF;
}