<div id="app-container" class="col-12">
    <div id="left-side" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="container">
        <div id="about-text" class="col-12">
          <img src="https://samogorm.github.io/personal-website/assets/images/Pixel-Sam-Head.png" height="100px" alt="Pixelated version of Sam's head."/>
            <h5>Hello, I'm Samantha O'Gorman.</h5>
          <h1>
            <span class="highlight-text">Full-Stack Developer</span> <br>
            &amp; <span class="highlight-text">UI Designer</span>.
          </h1>
          <h5>Based in Bolton, Manchester <span class="emoji-con">🇬🇧</span></h5>
          <app-button url="mailto:sam@buoy.digital" label="Talk to me ⚡️"></app-button>
        </div>
        <app-social-icons></app-social-icons>
      </div>
    </div>
    <div id="right-side" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="container">
            <div id="intro" class="col-12">
                <h3>Intro</h3>
                <p>
                  I've been developing websites & apps for over 4.5 years. I have a passion for 
                  UI design & an insatiable thirst for learning new development technologies.
                  <br>
                  When I'm not slapping my keyboard, you'll find me bouldering or exploring
                  woodland areas.
                </p>
            </div>
            <div id="skills" class="col-12">
                <h3>Skills</h3>
                <app-skill-list></app-skill-list>
            </div>
            <div id="education" class="col-12">
              <h3>Education</h3>
              <h5>July 2016</h5>
              <h6 class="italic">University of Bolton</h6>
              <p>Bachelor of Science, Computing & Website Development - 2:1</p>
            </div>
            <div id="work" class="col-12">
                <h3>Work</h3>
                <div class="work">
                    <h5>Sept 2016 - Present</h5>
                    <h6 class="italic">Suresite</h6>
                    <p>Junior Application Developer</p>
                </div>
                <div class="work">
                    <h5>Nov 2015 - July 2016</h5>
                    <h6 class="italic">Tubado</h6>
                    <p>Full Stack Developer & Designer</p>
                </div>
            </div>
            <div id="github" class="col-12 text-center">
              <p>Hosted on GitHub Pages <i class="fas fa-heart"></i></p>
            </div>
        </div>
    </div>
</div>