<div id="app-container" class="row">
    <div id="left-side" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="container">
        <div id="about-text" class="col-12">
            <h5>Hello, I'm Samantha O'Gorman.</h5>
          <h1>
            <span class="highlight-text">Full-Stack Developer</span> &amp; 
            <span class="highlight-text">UI Designer</span>.
          </h1>
          <h5>Based in Bolton, Manchester <span class="emoji-con">🇬🇧</span></h5>
          <a href="mailto:sam@buoy.digital" class="btn btn-lit">Talk to me ⚡️</a>
        </div>
        <ul id="social-icons" class="col-12">
          <li><a href="/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="/"><i class="fab fa-twitter"></i></a></li>
          <li><a href="/"><i class="fab fa-codepen"></i></a></li>
          <li><a href="/"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <div id="right-side" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="container">
        
        </div>
    </div>
</div>