---
import FormattedDate from 'src/components/FormattedDate.astro';

interface Props {
	slug: string;
	title: string;
	date: Date;
}

const { title, slug, date } = Astro.props;
---

<a href={`/posts/${slug}/`} class="bg-lightGrey-200 border-lightGrey-300 dark:bg-darkGrey-400 dark:border-darkGrey-300 p-4 border rounded flex flex-col hover:border-darkGrey-200">
	{ title }
	<div class="flex justify-between">
		<FormattedDate date={ date } />
	</div>
</a>
