---
import HeaderLink from './HeaderLink.astro';
import Avatar from './Avatar.astro';
import { SITE_TITLE } from '../consts';
---

<header class="py-4 px-0 flex justify-between items-center">
	<HeaderLink href="/">
		<Avatar
			src="assets/avatar.png"
			alt={ `${SITE_TITLE}'s Memoji with short, brown hair, a freckled face and silver framed glasses.'` }
		/>
	</HeaderLink>
	<nav>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
