---
import { SITE_TITLE } from 'src/consts';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import MainLayout from 'src/layouts/MainLayout.astro';
import Tag from 'src/components/Tag.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroAlt, readTime, category, heroSource } = Astro.props;
---
<MainLayout
	title={ `${SITE_TITLE} - ${title}` }
	description={ description }
>
	<article class="flex flex-col prose prose-primary dark:prose-invert">
		<a href="/" class="hover:text-primary-600 transition-colors ease-in-out duration-200 mb-6">
			Back to home
		</a>
		<div>
			<Tag
				text={ category }
			/>
			<h1 class="text-2xl md:text-4xl font-mono font-black my-3">
				{ title }
			</h1>
			<div class="flex justify-between items-center text-xs dark:text-lightGrey-400">
				<span>
					{ readTime }
				</span>
				<span class="text-right">
					<FormattedDate date={ pubDate } />
					{
						updatedDate && (
							<div class="italic text-lightGrey-600">
								Last updated on <FormattedDate date={ updatedDate } />
							</div>
						)
					}
				</span>
			</div>
			{ heroImage && (
				<figure class="mb-6 text-center">
					<img
						width={ 720 }
						height={ 360 }
						src={ heroImage }
						alt={ heroAlt }
						class="rounded"
					/>
					<figcaption class="italic text-sm dark:text-lightGrey-400 mt-1">
						Image from: { heroSource }
					</figcaption>
				</figure>
			) }
		</div>
		<slot />
	</article>
</MainLayout>
