---
import '@fontsource/inter';
import '@fontsource/space-grotesk';

import BaseHead from "src/components/BaseHead.astro";
import Header from "src/components/Header.astro";
import Footer from "src/components/Footer.astro";

const { title, description } = Astro.props;

---
<html lang="en">
	<head>
		<BaseHead
			title={ title }
			description={ description }
		/>
	</head>

	<body class="bg-lightGray-200 text-darkGrey-400 dark:bg-darkGrey-500 dark:text-lightGrey-200 mx-auto p-4 w-full sm:w-3/4 md:w-2/4 font-sans">
		<Header />
		<main class="align-center">
			<slot />
		</main>
		<Footer />
	</body>
</html>
